/**
 * accordion
 */

.accordion {
  &__group {
    border-bottom: 1px solid #E0E0E0;

    &:last-child {
      border-bottom: none;
    }

    &--open {
      .accordion__title {
        &:after {
          transform: rotate(0);
        }
      }

      .accordion__content {
        display: block;
      }
    }
  }

  &__title {
    display: block;
    color: $color-base;
    padding: 16px 40px 16px 0;
    text-decoration: none;
    position: relative;
    font-family: $font-bold;

    &:after {
      content: '';
      background-image: url('/dist/images/expand_more_accordion.svg');
      background-repeat: no-repeat;
      width: 12px;
      height: 8px;
      display: inline-block;
      transform: rotate(180deg);
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;

      transition: all 300ms ease-in-out;
    }
  }

  &__content {
    font-size: em(16);
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .accordion {
    &__title {
      padding: 24px 40px 24px 0;
    }
  }
}
