/**
 * box sizing
 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/**
 * body
 */

body {
  font-family: $font;
  color: #333333;
  padding-top: 73px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/**
 * wrapper
 */

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;

  &--no-padding {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    &--no-padding {
      padding: 0 16px;
    }
  }
}

/**
 * reset titles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

/**
 * reset lists
 */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * links
 */

a {
  -webkit-tap-highlight-color: transparent;
-webkit-tap-highlight-color: transparent;
}
