/**
 * buttons
 */

.btn {
  margin: 0;
  border: none;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &--cta {
    color: #ffffff;
    background-color: $color-secondary;

    &:hover {
      background-color: $color-hover;
    }

    .text--small {
      display: block;
      font-size: em(10);
    }
  }

  &--default {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 14px 0;
    color: #ffffff;
    text-align: center;
    background-color: $color-secondary;

    &:hover {
      background-color: $color-hover;
    }
  }

  &--flat {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 14px 0;
    color: $color-secondary;
    text-align: center;
    border: 1px solid $color-secondary;

    &:hover {
      background-color: $color-hover;
      color: #ffffff;
    }
  }
}


@media screen and (min-width: 768px) {
 .btn {
   &--default,
   &--flat {
     max-width: 60%;
   }
 }
}


/**
 * buttons group
 */

.btn-group {
  .btn {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
