/**
 * font default
 */

@font-face {
  font-family: 'Effra Bold';
    src: url('/dist/fonts/Effra/Effra-Bold.eot');
    src: url('/dist/fonts/Effra/Effra-Bold.eot?#iefix') format('embedded-opentype'),
        url('/dist/fonts/Effra/Effra-Bold.woff2') format('woff2'),
        url('/dist/fonts/Effra/Effra-Bold.woff') format('woff'),
        url('/dist/fonts/Effra/Effra-Bold.ttf') format('truetype'),
        url('/dist/fonts/Effra/Effra-Bold.svg#Effra-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Effra';
  font-weight: normal;
  font-style: normal;
  src:  url('/dist/fonts/Effra/Effra-Regular.eot');
  src:  url('/dist/fonts/Effra/Effra-Regular.eot?#iefix') format('embedded-opentype'),
        url('/dist/fonts/Effra/Effra-Regular.woff2') format('woff2'),
        url('/dist/fonts/Effra/Effra-Regular.woff') format('woff'),
        url('/dist/fonts/Effra/Effra-Regular.ttf') format('truetype'),
        url('/dist/fonts/Effra/Effra-Regular.svg#Effra-Regular') format('svg');

}

// @font-face {
//   font-family: 'MyWebFont';
//   src: url('webfont.eot'); /* IE9 Compat Modes */
//   src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//        url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//        url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
// }
