/**
 * footer
 */

.footer {
  color: #ffffff;
  padding: 30px 0 20px 0;
  background-color: $color-secondary;

  &__info__group {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__certificates {
    &__title {
      margin: 0;
      font-weight: bold;
    }

    &__images {
      margin: 20px 0;

      img {
        margin-right: 10px;
        display: inline-block;
      }
    }
  }

  &__navigation {
    border-top: 1px solid #F98D52;
    border-bottom: 1px solid #F98D52;
    padding: 15px 0;
    $c: &;

    &--open {
      #{$c}__title {
        margin-bottom: 14px;

        &:after {
          transform: rotate(180deg);
        }
      }

      #{$c}__list {
        display: block;
      }
    }

    &__title {
      display: block;
      color: #ffffff;
      text-decoration: none;
      position: relative;

      &:after {
        content: "";
        background-image: url('/dist/images/expand_more_orange.svg');
        display: inline-block;
        width: 14px;
        height: 8px;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -4px;
        transition: all 300ms ease-in-out;
      }
    }

    &__list {
      display: none;
    }

    &__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      color: #ffffff;
      padding: 8px 0;
      display: block;
      text-decoration: none;
    }
  }

  &__copyright {
    padding-top: 20px;

    &__text {
      margin: 10px 0 0 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 0 20px 0;

    @include clearfix();

    &__info {
      @include clearfix();

      &__group {
        width: 25%;
        float: left;
        margin-bottom: 0;

        &--1 {
          width: 20%;
        }

        &--2 {
          width: 33%;
        }

        &--3 {
          width: 22%;
        }

        &--4 {
          width: 25%;
        }

        b {
          display: block;
          margin-bottom: 4px;
        }
      }
    }

    &__certificates {
      &__images {
        margin: 10px 0;
      }
    }

    &__navigation {
      border: none;
      padding: 0;

      &__title {
        font-weight: bold;
        margin-right: 10px;
        display: inline-block;

        &:after {
          display: none;
        }
      }

      &__list {
        display: inline-block;
      }

      &__item {
        margin: 0 40px 0 0;
        display: inline-block;

        &:last-child {
          margin-right: 0;
        }
      }

      &__link {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__copyright {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #F98D52;
      text-align: center;

      &__text {
        font-size: em(14);
        margin: 10px 0 0 0;
        display: inline-block;
        vertical-align: middle;
      }

      &__icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}

/**
 * asked question footer
 */

.asked-questions {
  &--footer {
    padding: 14px 16px;
    background-color: #333333;
    border-top: 1px solid #6F6F6F;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
