/**
 * form
 */

.form {
  input,
  select {
    outline: none;
    font-size: em(16);
  }

  button {
    outline: none;
  }

  input,
  textarea {
    padding: 5px 0;
    width: 100%;
    font-weight: 100;
    border: transparent;
    background-color: transparent;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 25px;
    outline: none;

    @include placeholder(#515151);

    &.has-error {
      margin-bottom: 10px;
    }
  }

  button {

  }

  .error {
    display: block;
    font-size: em(12);
    margin: 0 0 20px 0;
    color: rgb(167, 54, 54);
  }
}

@media screen and (min-width: 768px) {
  .form {
    input,
    select {
      outline: none;
      font-size: em(18);
    }

    .error {
      font-size: em(16);
    }
  }
}

/**
 * select group
 */

.select-group {
  position: relative;
  display: inline-block;

  select {
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0;
    -webkit-appearance: none;
    width: 100%;
    padding: 6px 0;
    font-weight: 100;
    outline: none;
    position: relative;
  }

  .ico {
    background-image: url('/dist/images/arrow_drop.svg');
    width: 10px;
    height: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
