.get-app {
  text-align: center;
  padding: 30px;

  &--dark {
    background-color: #333333;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__title {
    font-size: em(20);
    color: #ffffff;
    margin: 0;
  }

  &__store {
    margin-top: 30px;
    width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .get-app {
    padding: 40px;
  }
}
