/**
 * general
 */

.header {
  padding: 16px 0;
  background-color: $color-base;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;

  box-shadow: 1px 0 3px 0 rgba(0,0,0,0.5);

  &__logo {
    width: 62px;
    display: inline-block;
    transition: all 300ms ease-in-out;

    &--small {
      width: 62px !important;
    }

    &-image {
      width: 100%;
    }
  }

  &__navigation,
  .desktop__actions {
    display: none;
  }

  .mobile__actions {
    top: 0px;
    right: 16px;
    position: absolute;
  }

  .btn-create-account {
    height: 35px;
    padding: 2.5px 10px;
    vertical-align: top;
    margin-right: 10px;
  }

  &__burgers {
    height: 36px;
    width: 42px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 9px;

    &-burger {
      height: 2px;
      width: 100%;
      float: left;
      margin-bottom: 5px;
      background-color: #FFFFFF;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    &__logo {
      width: 80px !important;
    }

    &__navigation,
    .desktop__actions {
      display: inline-block;
    }

    .desktop__actions {
      position: absolute;
      top: 3px;
      right: 16px;

      .btn--cta {
        padding: 14px 20px;
        font-size: em(16);
      }

      .btn_login {
        font-size: em(16);
        margin-right: 10px;
        padding: 14px 10px;
        border-radius: 4px;
        color: #B2B2B2;
        border: 1px solid #B2B2B2;

        &:hover {
          color: #ffffff;
          border-color: #ffffff;
        }
      }
    }

    .mobile__actions {
      display: none;
    }
  }
}

/**
 * header home
 */

.home .header {
  &__logo {
    width: 120px;
  }
}

@media screen and (min-width: 320px) {
  .home .header {
    &__logo {
      width: 100px;

      &--small {
        width: 62px;
      }
    }
  }
}

/**
* header mobile
*/

.navigation__mobile {
  &__buttons {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  &-close {
    background-image: url('/dist/images/icon_fechar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 36px;
    width: 42px;
    display: inline-block;
  }
}


