/**
 * header page
 */

.header-page {
  height: 130px;
  position: relative;
  background-color: #CEB39B;

  &:after {
    content: "";
    height: 85px;
    width: 100%;
    opacity: 0.26;
    background: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 100%);
    display: block;
    position: absolute;
    bottom: 0;
  }

  &__title {
    color: #ffffff;
    font-weight: bold;
    font-size: em(30);
    text-transform: uppercase;
    position: absolute;
    top: 80px;
    z-index: 2;
    font-family: $font-bold;
  }
}

@media screen and (min-width: 768px) {
  .header-page {
    height: 230px;

    &__title {
      font-size: em(48);
      top: 144px;
    }
  }
}

/**
 * header description
 */

.header-description {
  padding: 20px 0 30px 0;

  &__title {
    margin: 0;
    padding-bottom: 30px;

    &:after {
      content: "";
      height: 2px;
      width: 80px;
      display: inline-block;
      background-color: #F47920;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header-description {
    padding: 40px 0;

    &__title {
      padding-bottom: 40px;
    }
  }
}

/**
 * header simple
 */

.header-simple {
  height: 130px;
  padding-top: 30px;
  background-color: #F3F3F3;
  margin-bottom: 40px;

  &__title {
    font-size: em(28);
    font-family: $font-bold;
  }

  &__description {
    display: block;
    margin: 15px 0 0 0;
  }
}
