/**
 * imports
 */

@import "mixins";

/**
 * mobile block
 */

.mobile-block {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-block {
    display: inline-block;
  }
}

/**
 * lock content
 */

.lock_content {
  overflow: hidden;
}

/**
 * clearfix
 */

.clearfix {
  @include clearfix();
}

/**
 * Spacing
 */


/**
 * hide desktop
 */

@media screen and (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}

/**
 * hide mobile
 */

@media screen and (min-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

/**
 * text bold
 */

.text--bold {
  font-weight: bold;
}

/**
 * box
 */

.box {
  padding: 30px 16px;

  &--shadow {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    margin-bottom: 3px;
  }

  p {
    margin: 0 0 10px 0;
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .box {
    padding: 40px 0;
  }
}

/**
 * triangle
 */

.triangle {

  &:before {
    content: "";
    width: 82px;
    height: 75px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }

  &--bottom--right {
    &:before {
      bottom: 0;
      right: 0;
      background-image: url(/dist/images/triangle-bottom-right.svg);
    }
  }

  &--top--right {
    &:before {
      width: 68px;
      top: 0;
      right: 0;
      background-image: url(/dist/images/triangle-top-right.svg);
    }
  }
}
