/**
 * clearfix
 *
 * usage: @include clearfix();
 */

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/**
 * em to px
 *
 * usage: font-size: em(12);
 */

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

/**
 * placeholder
 *
 * usage: @include placeholder(#fff);
 */

@mixin placeholder($value) {
  ::-webkit-input-placeholder {
    color: $value;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $value;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $value;
  }

  :-ms-input-placeholder {
    color: $value;
  }
}
