/**
 * modal
 */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  padding: 20px;
  display: none;

  background-color: #333333;

  &__close {
    background-image: url('/dist/images/icon_fechar.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 36px;
    width: 42px;
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 16px;
  }

  &--open {
    display: block;
  }
}

/**
 * modal app
 */

.modal-app {
  color: #ffffff;
  text-align: center;

  &__image {
    width: 87px;
    margin-top: 40px;
  }

  &__title {
    font-size: em(22);
    margin-bottom: 40px;
  }

  &__description {
    font-size: em(18);
    margin-bottom: 30px;
  }

  &__store {
    width: 190px;
  }
}

.arrow {
    width: 0px;
    height: 0px;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid #FF8219;
}
