/**
 * navigation desktop
 */

.header__navigation {
  line-height: 3;
  margin-left: 60px;
  vertical-align: top;

  &-item {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    color: #B2B2B2;
    padding: 10px 0;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }
}

/**
 * navigation mobile
 */

.navigation__mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;

  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #333;
  overflow-y: scroll;

  transition: all 250ms ease-in-out;

  transform: translateX(60px);

  &--open {
    opacity: 1;
    pointer-events: auto;
    // display: block;

    transform: translateX(0);
  }

  .navigation {
    margin-top: 50px;

    &__item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      color: #ffffff;
      font-size: em(20);
      text-decoration: none;
    }
  }

  &-separator {
    width: 100%;
    height: 2px;
    margin: 30px 0;
    background-color: #4E4E4E;
  }
}
