/**
 * newsletter
 */

.newsletter {
  background-color: #F2F2F2;
  text-align: center;

  &__title {
    margin: 20px 0 40px 0;
    font-size: em(20);
  }
}

@media screen and (min-width: 768px) {
  .newsletter {
    .form-contact {
      max-width: 540px;
      margin: 0 auto;
    }
  }
}
