/**
 * create account
 */

.create-account {
  position: relative;

  .social-login {
    margin-bottom: 20px;
    text-align: center;

    &__title,
    &__or {
      font-size: em(20);
      margin: 0;
    }

    &__button {
      color: #ffffff;
      padding: 15px;
      margin: 20px 0 40px 0;
      font-size: em(16);
      background-color: #4267B2;

      &:before {
        content: '';
        background-image: url(/dist/images/icon_face.svg);
        display: inline-block;
        width: 20px;
        height: 20px;
        background-size: contain;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: -2px;
      }
    }

    @media screen and (min-width: 480px) {
      &__button {
        padding: 15px 30px;
      }
    }
  }

  &__form {
    margin: 0 auto;
    max-width: 540px;
  }
}
