/**
 * slider
 */

.slider {
  &--default {

    .swiper-container {
      position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper-pagination-bullets {
      bottom: 20px;
    }

    .swiper-pagination-bullet {
      width: 60px;
      height: 3px;
      border-radius: 0;
      background: #806D64;
      margin-right: 10px !important;

      &-active {
        background-color: #ffffff;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .slider {
    &--default {

      .swiper-button-prev-next {
        margin: 0 auto;
        max-width: 1200px;
        position: absolute;
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: inline-block;
      }

      .swiper-pagination-bullet {
        width: 120px;
        margin-right: 20px !important;
      }
    }
  }
}
