
/**
 * section titles
 */

.section-title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 30px 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: em(30);
  font-family: $font-bold;

  &--white {
    color: #ffffff;
  }

  &:after {
    content: "";
    height: 2px;
    width: 80px;
    display: inline-block;
    background-color: #F47920;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
  }
}

@media screen and (min-width: 768px) {
  .section-title {
    padding: 0 0 40px 0;
    font-size: em(46);
    margin-bottom: 40px;

    &:after {
      content: "";
      height: 2px;
      width: 80px;
      display: inline-block;
      background-color: #F47920;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -40px;
    }
  }
}
