/**
 * colors
 */

$color-base: #333333;
$color-secondary: #F27930;

$color-hover: #fe832a;

/**
 * fonts
 */

$font: "Effra", "sans-serif";
$font-bold: "Effra Bold", "sans-serif";
$font-secondary: "Effra Heavy", "sans-serif";
