/**
 * imports
 */

@import "../components/variables";
@import "../components/mixins";

/**
 * about
 */

.pillars {
  background-color: #F2F2F2;

  &__item {
    text-align: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    margin-bottom: 10px;
  }

  &__title {
    font-size: em(18);
    font-weight: bold;
    text-transform: uppercase;
  }

  &__description {
    font-size: em(16);
  }
}

@media screen and (min-width: 768px) {
  .pillars {
    @include clearfix();

    &__list {
      @include clearfix();
    }

    &__item {
      float: left;
      width: 25%;
      margin-bottom: 0;
      padding: 0 20px;
    }

    &__title {
      font-size: em(20);
    }

    &__description {
      font-size: em(18);
    }
  }
}
