/**
 * imports
 */

@import "../components/variables";
@import "../components/mixins";

/**
 * asked questions
 */

.asked-questions {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
  margin-bottom: 2px;
  padding-bottom: 10px;

  &__title {
    font-size: em(20);
    margin-bottom: 20px;
  }

  .accordion {
    &__content {
      p {
        margin: 0 0 20px 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .asked-questions {
    padding: 0 0 40px 0;

    &__title {
      text-align: center;
    }

    .accordion {
      margin: 0 auto;
      max-width: 540px;
    }
  }
}

/**
 * contact
 */

.contact {
  background-color: #F2F2F2;

  &__header {
    padding: 40px 16px 10px 16px;
  }

  &__title {
    font-size: em(20);
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__info {
    margin: 0;
  }

  &__form {
    padding: 20px 16px;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    padding-bottom: 40px;

    &__header {
      text-align: center;
      margin-bottom: 20px;
    }

    &__form {
      margin: 0 auto;
      max-width: 540px;
      border-radius: 4px;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    }
  }
}
