/**
 * imports
 */

@import "../components/variables";
@import "../components/mixins";

/**
 * banner
 */

.banner-slider {
  img {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .banner-slider {
    img {
      height: 430px;
    }
  }
}

@media screen and (min-width: 768px) {
  .banner-slider {
    img {
      height: 630px;
    }
  }
}

/**
 * section advantages
 */

.section__advantages {
  &-item {
    text-align: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-icon {
    margin-bottom: 10px;
  }

  &-description {
    margin: 0;
    display: block;
    font-size: em(20);
  }
}

@media screen and (min-width: 768px) {
  .section__advantages {
    &-list {
      @include clearfix();
    }

    &-item {
      float: left;
      width: 25%;
      margin-bottom: 0;
    }
  }
}

/**
 * bank details
 */

.bank__details {
  width: 100%;
  padding: 40px 0;
  background-color: #313131;

  background-image: url('/dist/images/bg_ativos.jpg');
  background-attachment: fixed;

  &-title {
    padding-top: 0;
  }

  &-logo {
    width: 96px;
  }

  &-item {
    text-align: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-description {
    font-size: em(40);
    color: #ffffff;
  }

  .text-small {
    font-size: em(20);
  }
}

@media screen and (min-width: 768px) {
  .bank__details {
    &-list {
      @include clearfix();
    }

    &-item {
      float: left;
      width: 25%;
      margin-bottom: 0;
    }

    &-description {
      font-size: em(45);
    }
  }
}

/**
 * investments
 */

.investments {
  position: relative;
  overflow: hidden;

  &__counters {
    text-align: center;
    height: 216px;
  }

  &__counter {
    width: 40%;
    color: #ffffff;
    padding-top: 10px;
    display: inline-block;
    vertical-align: bottom;
    height: 20px;

    transition: all 2000ms ease-in-out;

    &:first-child {
      margin-right: 10%;
    }

    &--size-1 {
      height: 141px;
      vertical-align: bottom;
    }

    &--size-2 {
      height: 214px;
      vertical-align: bottom;
    }

    &--gray {
      background: linear-gradient(0deg, rgba(212,212,212,0) 0%, #A9A9A9 100%);
    }

    &--orange {
      background: linear-gradient(180deg, #F47920 0%, rgba(244,121,32,0) 100%);
    }

    &__title,
    &__description {
      display: block;
      font-size: em(20);
    }
  }

  &__details {
    color: #F47920;
    text-align: center;

    &__header {
      margin: 20px 0;
    }

    &__title {
      display: block;
      font-size: em(48);
      font-weight: bold;
    }

    &__description {

    }
  }

  &__info {
    margin: 40px 0 0 0;
    display: block;
    font-size: em(10);
    color: #9B9B9B;
    text-align: center;

    @include clearfix();
  }
}

@media screen and (min-width: 768px) {
  .investments {
    @include clearfix();

    &__counters,
    &__details {
      width: 49%;
      display: inline-block;
    }

    &__details {
      padding: 0 40px;

      &__description {
        font-size: em(20);

        &.text-small {

        }
      }
    }
  }
}


