/**
 * imports
 */

@import "../components/variables";
@import "../components/mixins";

/**
 * learning
 */

.videos {
  padding: 20px 0 30px 0;

  &__item {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: inline-block;
    border-bottom: 1px solid #E0E0E0;

    &:last-child {
      margin-bottom: 0;
    }

    @include clearfix();
  }

  &__image,
  &__description {
    float: left;
  }

  &__image {
    width: 50%;

    &__icon {
      width: 100%;
    }
  }

  &__description {
    width: 50%;
    padding: 0 0 0 20px;

    &__ep {
      display: block;
    }

    &__title {
    }
  }
}

@media screen and (min-width: 768px) {
  .videos {
    padding-bottom: 10px;

    &__item {
      width: 45%;
      margin: 0 2%;
      padding-bottom: 30px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
}
