/**
 * imports
 */

@import "../components/variables";
@import "../components/mixins";

/**
 *
 */

.product {
  padding-bottom: 30px;
  background-color: #F2F2F2;

  &__filter {
    padding: 0 16px 20px 16px;
    background-color: #ffffff;

    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);

    &__title {
      font-size: em(20);
      font-weight: bold;
      margin-top: 0;
    }

    .select-group {
      width: 100%;
    }
  }

  &__group {

  }

  &__header {
    padding: 40px 0 0 0;

    &__title {
      font-size: em(24);
      font-weight: bold;
    }

    &__details {
    }
  }

  &__details {
    padding: 16px;
    margin: 0 -16px 0 -16px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);

    &__best-seller {
      display: inline-block;
      padding: 7px 16px 8px 16px;
      color: $color-secondary;
      border-top: 1px solid $color-secondary;
      border-bottom: 1px solid $color-secondary;
      margin: 0 0 10px -16px;
      position: relative;
      font-size: 16px;

      &:after {
        content: "";
        background-image: url(/dist/images/final_flag.svg);
        display: inline-block;
        width: 28px;
        height: 37.7px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -2px;
        right: -24px;
      }
    }

    &__view-more {
      color: $color-secondary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &__group {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid #CDCDCD;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }

      &__empty__title {
        color: #AFAFAF;
        text-align: center;
        margin-bottom: 30px;
      }

      .btn {
        width: 70%;
      }
    }

    &__list {
      margin-bottom: 20px;
    }

    &__item {
      margin-bottom: 7px;
      @include clearfix();
    }

    .title {
      width: 50%;
      float: left;
    }

    .desc {
      width: 50%;
      float: left;
      text-align: right;

      &.bold {
        font-weight: bold;
      }
    }
  }

  &__footer {
    padding: 0 16px;
    margin: 0 -16px 0 -16px;
    background-color: #ffffff;

    &--simple {
      background: transparent;
      padding: 20px 16px 0 16px;
    }

    &__view-more {
      padding: 20px 0;
      border-top: 1px solid #CDCDCD;
      display: block;
      color: #f27930;
      text-decoration: none;
      position: relative;

      &:before {
        content: "";
        background-image: url('/dist/images/expand_more_orange.svg');
        width: 16px;
        height: 12px;
        display: inline-block;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-35%);
        background-position: center;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .product {
    padding-bottom: 40px;

    &__filter {
      margin: 0;
      padding: 0 16px 40px 16px;

      &__title {
        display: inline-block;
        margin: 0;
      }

      .select-group {
        width: auto;
        display: inline-block;
      }

      &__option {
        width: auto;
        padding: 0 20px 6px 6px !important;
        display: inline-block;
      }
    }

    &__group {
      padding: 40px 0 0 0;
    }

    &__header {
      padding: 0;

      &__title {
        font-size: em(32);
      }

      &__details {
        margin: 4px 0 30px 0;
      }
    }

    &__details {
      margin: 0;
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      &__group {
        padding: 16px;
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16);
        width: 47%;
        margin: 0 2% 2%;
        display: inline-block;
        vertical-align: top;
        border-top: none;
        border-radius: 4px;

        &:nth-child(2n+1) {
          margin-left: 0;
        }

        &:first-child {
          padding: 16px;
          margin-left: 0;
        }
      }
    }

    &__footer {
      background: none;
      padding: 10px 0 0 0;
      margin: 0;
      text-align: center;

      &--simple {
        text-align: left;
      }

      &__view-more {
        padding: 16px 35px 16px 20px;
        border: 1px solid #f27930;
        display: inline-block;
        border-radius: 4px;

        &:hover {
          background-color: $color-hover;
          color: #ffffff;
        }

        &:before {
          top: 50%;
          right: 15px;
          transform: translateY(-25%);
        }
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .product {
    &__details {
      &__group {
        width: 30%;

        &:nth-child(2n+1) {
          margin-left: 2%;
        }

        &:nth-child(3n+1) {
          margin-left: 0;
        }
      }
    }
  }
}
