/**
 * imports
 */

@import "../components/variables";
@import "../components/mixins";

/**
 * simulator
 */

.simulator {

  &__steps {
    padding: 0 16px 30px 16px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    background-color: #ffffff;
  }

  &__step {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &__title {
      font-size: em(20);
      font-weight: bold;
    }

    .select-group {
      width: 100%;
      margin: 20px 0;
    }

    &__range {

    }
  }

  &__btn {
    margin: 0;
    display: flex;

    .btn {
      flex-grow: 1;
      border-radius: 0;
      padding: 10px;
      border: 1px solid $color-secondary;
      border-right: none;
      font-size: em(16);

      &:hover {
        color: #ffffff;
        background-color: $color-hover;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
        border-right: 1px solid $color-secondary;
      }

      &--selected {
        color: #ffffff;
        background-color: $color-secondary;
      }
    }
  }

  &__result {

    &__title {
      font-size: em(20);
      font-weight: bold;
    }

    &__counter {
      margin: 3px 0;
      padding: 30px 16px 0 16px;
      background-color: #F2F2F2;
    }

    .description {
      padding: 20px 16px;
      text-align: center;
      color: $color-secondary;

      &__title {
        font-size: em(48);
        display: block;
        font-weight: bold;
      }

      &__info {
        font-size: em(16);
      }

      &__button {
        max-width: 70%;
        margin-top: 20px;
      }
    }

    .info {
      padding: 0 16px 20px 16px;

      &__item {
        @include clearfix();
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }

        &__title,
        &__desc {
          width: 50%;
          float: left;
          font-size: em(16);
        }

        &__desc {
          text-align: right;
        }
      }
    }
  }

  &__footer {
    padding-bottom: 30px;

    &__extra-info {
      margin: 20px 0 0 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .simulator {
    background-color: #F2F2F2;
    padding-bottom: 40px;

    &__steps {
      padding-bottom: 0;
      @include clearfix();
    }

    &__step {
      float: left;
      width: 33%;
      padding: 0 30px;
    }

    &__result {
      &__counter {
        text-align: center;
      }

      &__group {
        margin: 0 auto;
        max-width: 560px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
      }

      .info {
        &__item {
          &__title {
            text-align: right;
            padding-right: 10px;
          }

          &__desc {
            text-align: left;
          }
        }
      }
    }

    &__footer {
      text-align: center;
      padding-bottom: 0;

      &__extra-info {
        margin: 20px 0 0 0;
      }
    }
  }
}

/**
 * range
 */

.rangeSlider {
  height: 3px;
  margin: 30px 0;
  box-shadow: none;
  border-radius: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #DBDBDB;

  &__fill {
    box-shadow: none;
    border-radius: 0;
    background-color: #F4791F;
  }

  &__handle {
    width: 30px;
    height: 30px;
    box-shadow: none;
    border: none;
    background-color: #F4791F;
    background-image: none;
    top: 50%;
    margin-top: -15px;

    &:hover {
      background-color: $color-hover;
    }

    &:before,
    &:after {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .rangeSlider {
    margin-top: 52px;
  }
}


/**
 * CÓDIGO DUPLICADO DA HOME. QUANDO TIVER O CSS DO PLUGIN COMPATILHADO
 * PARA MOSTRAR O GRÁFICO DE DIFERENÇA ENTRE VALORES REMOVER ESSE CÓDIGO.
 * investments
 */

.investments {
  padding: 20px 0 0 0;
  position: relative;
  overflow: hidden;

  &__counters {
    text-align: center;
    height: 216px;
  }

  &__counter {
    width: 40%;
    color: #ffffff;
    padding-top: 10px;
    display: inline-block;
    vertical-align: bottom;
    height: 20px;

    transition: all 2000ms ease-in-out;

    &:first-child {
      margin-right: 10%;
    }

    &--size-1 {
      height: 141px;
      vertical-align: bottom;
    }

    &--size-2 {
      height: 214px;
      vertical-align: bottom;
    }

    &--gray {
      background: linear-gradient(0deg, rgba(212,212,212,0) 0%, #A9A9A9 100%);
    }

    &--orange {
      background: linear-gradient(180deg, #F47920 0%, rgba(244,121,32,0) 100%);
    }

    &__title,
    &__description {
      display: block;
      font-size: em(20);
    }
  }

  &__details {
    color: #F47920;
    text-align: center;

    &__header {
      margin: 20px 0;
    }

    &__title {
      display: block;
      font-size: em(48);
      font-weight: bold;
    }

    &__description {

    }
  }

  &__info {
    margin: 40px 0 0 0;
    display: block;
    font-size: em(10);
    color: #9B9B9B;
    text-align: center;

    @include clearfix();
  }
}

@media screen and (min-width: 768px) {
  .investments__counters {
    max-width: 460px;
    margin: 0 auto;
  }
}
