<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="css/ola.css" />
  </head>
  <body class="home">

    {{> header }}

    {{title}}

    home

    <script src="/js/bundle.js"></script>
  </body>

</html>
